*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

#pattern {
    width: auto;
    height: 180px;
    background-image: url("../img/pattern.png");
    background-repeat: repeat;
    background-color: rgb(0, 119, 255);
    
}

.space {
    margin: 0 auto;
    width: 80%; 
}

#logo {
    width: 20%;
    background-repeat: no-repeat;
    margin-left: 10%;
    padding-top: 45px;
    margin-top: 30px;
} 

.space {
    margin: 0 auto;
    width: 80%;
}

h6 {
    color: grey;
}

#Booleaner {
    color: #55A0FF;
}

.images {
    width: 50%;
}

div {
    margin-top: 25px;
}

li {
    margin-left: 1em;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: auto;
    text-align: left;
}

th {
    background-color: rgb(0, 81, 255);
    color: white; 
}

.column {
    width: 40%;
}

.lorem1 {
    background-color: rgb(0, 174, 255);
}

h3 {
    color: grey;
    margin-top: 20px; 
}

#monitor {
    width: 400px;
    height: 200px;
    background-image: url(../img/monitor.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    margin-top: 20px;
    color: white;
    padding: 20px;
}

#graph {
    width: 400px;
    height: 200px;
    background-image: url(../img/graph.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    margin-top: 5px;
    color: white;
    padding: 20px;
}